.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #000;
  padding: 12px 10px;
  border-radius: 8px;
  width: 300px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.contactInfo div {
  display: inline-flex;
  gap: 4px;
  align-items: center;
}
